body {
  font-family: "Inter", sans-serif !important;
}

/*:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #409088;
  --ifm-color-primary-darker: #387462;
  --ifm-color-primary-darkest: #1b4e3f;
  --ifm-color-primary-light: #42ba96;
  --ifm-color-primary-lighter: #86b8b6;
  --ifm-color-primary-lightest: #abd5c6;
  --ifm-code-font-size: 95%;
  --ifm-spacing-horizontal: 1em;
  --ifm-font-family-base: "Roboto", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ifm-footer-background-color: #232323;
}*/

:root {
  // brand colors
  --c-brand: #25c2a0;
  --c-brand-light: #25c2a0;

  // background colors
  --c-bg: #ffffff;
  --c-bg-light: #f3f4f5;
  --c-bg-lighter: #eeeeee;
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #cccccc;

  // text colors
  --c-text: #1c1e21;
  --c-text-accent: var(--c-brand);
  --c-text-light: #42ba96;
  --c-text-lighter: #444950;
  --c-text-lightest: #606770;
  --c-text-quote: #999999;

  // border colors
  --c-border: #eaecef;
  --c-border-dark: #dfe2e5;

  // custom container colors
  --c-tip: #42ba96;
  --c-tip-bg: var(--c-bg-light);
  --c-tip-title: var(--c-text);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: #e7c000;
  --c-warning-bg: #fffae3;
  --c-warning-title: #ad9000;
  --c-warning-text: #746000;
  --c-warning-text-accent: var(--c-text);
  --c-danger: #cc0000;
  --c-danger-bg: #ffe0e0;
  --c-danger-title: #990000;
  --c-danger-text: #660000;
  --c-danger-text-accent: var(--c-text);
  --c-details-bg: #eeeeee;

  // badge component colors
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);

  // transition vars
  --t-color: 0.3s ease;
  --t-transform: 0.3s ease;

  // code blocks vars
  --code-bg-color: #282c34;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: #9e9e9e;
  --code-ln-wrapper-width: 3.5rem;

  // font vars
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  // layout vars
  --navbar-height: 3.6rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 740px;
  --homepage-width: 960px;
}

html.dark {
  // brand colors
  --c-brand: #25c2a0;
  --c-brand-light: #25c2a0;

  // background colors
  --c-bg: #18191a;
  --c-bg-light: #242526;
  --c-bg-lighter: #262c34;

  // text colors
  --c-text: #f5f6f7;
  --c-text-light: #42ba96;
  --c-text-lighter: #dadde1;
  --c-text-lightest: #ccd0d5;

  // border colors
  --c-border: #606770;
  --c-border-dark: #444950;

  // custom container colors
  --c-tip: #318a62;
  --c-warning: #ceab00;
  --c-warning-bg: #7e755b;
  --c-warning-title: #ceac03;
  --c-warning-text: #362e00;
  --c-danger: #940000;
  --c-danger-bg: #806161;
  --c-danger-title: #610000;
  --c-danger-text: #3a0000;
  --c-details-bg: #323843;

  // code blocks vars
  --code-hl-bg-color: #363b46;
}

.code-group__ul {
  display: flex
}

.code-group__nav {
  padding-right: 10px;
}

.flex-grow {
  flex-grow: 1;
}