<main>
  <header>
    <h1>Wallet Adapter Example (Raw)</h1>
  </header>

  <section>
    <div>
      <p>
        Wallet:
        <ng-container *ngIf="wallet$ | async as wallet; else noneWallet">
          {{ wallet.adapter.name }}
        </ng-container>
        <ng-template #noneWallet> None </ng-template>
      </p>

      <p *ngIf="publicKey$ | async as publicKey">
        Public Key: {{ publicKey.toBase58() }}
      </p>

      <p>Status: {{ (connected$ | async) ? 'connected' : 'disconnected' }}</p>
    </div>
  </section>
</main>
